<h1>Game Details</h1>

<% blocked_cols = ['Size', 'Content type'] %>
<% for column in Game.content_columns %>
  <% unless blocked_cols.member?(column.human_name) %>
    <table>
      <tr>
        <td align="left"><b><%= column.human_name %>:</b></td>
        <% case column.human_name
           when "Name" %>
          <td><%= @game.send(column.name) %></td>
          <td>
            <%= button_to 'Play', :controller => 'results', :action => 'new',
                :id => @game %>
          </td></tr></table><table><tr>
          <td><b>User:</b></td>
          <td><%= @game.user.login %></td>
        <% else %>
          <td><%= @game.send(column.name) %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% end %>

<table>
  <% if current_user.id == @game.user.id  and !@game.code.nil? %>
    <tr>
      <td><b>Code:</b></td>
      <td>
        <%= link_to @game.code.filename, :action => 'download_source_code',
            :id =>@game %>
      </td>
      <td> | <%= link_to 'Edit source code', :action => 'edit_source_code',
                 :id => @game %>
      </td>
    </tr>
    <tr>
      <td><b>Template</b></td>
      <td>
        <%= link_to @game.template.filename,
            :action =>'download_template_code', :id =>@game %>
      </td>
      <td> |
        <%= link_to 'Edit template', :action => 'edit_template_code',
            :id => @game %>
      </td>
    </tr>
    <tr>
      <td><b>CSS</b></td>
      <td>
        <%= link_to @game.css.filename,
            :action =>'download_css_code', :id =>@game %>
      </td>
      <td> |
        <%= link_to 'Edit css', :action => 'edit_css_code',
            :id => @game %>
      </td>
    </tr>
  <% else %>
    <tr>
      <td><b>Code:</b></td>
      <td><%= @game.code.filename unless @game.code.nil? %></td>
    </tr>
    <tr>
      <td><b>Template:</b></td>
      <td><%= @game.template.filename unless @game.template.nil? %></td>
    </tr>
    <tr>
      <td><b>CSS:</b></td>
      <td><%= @game.css.filename unless @game.css.nil? %></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Image:</b></td>
    <td><%= @game.image.filename unless @game.image.nil? %></td>
  </tr>
</table>

<table><tr><td><b>Players:</b></td></tr></table>
<ul>
<% for player in @game.players %>
  <li><%= player.name %><%= "<i> required</i>" if player.required %></li>
<% end %>
</ul>

<table><tr>
<td><b>Agents:</b></td>
<td><%= link_to 'List',{:controller => :agents, :action => 'index', :filter_type => 'Game', :filter_id => @game.id, :filter_name => @game.name} %></td>
</tr></table>

<table><tr>
<td><b>Results:</b></td>
<td><%= link_to 'List',{:controller => :results, :action => 'index', :filter_type => 'Game', :filter_id => @game.id, :filter_name => @game.name} %></td>
</tr></table>

<% if current_user.id == @game.user.id %>
  <p>
  <table><tr>
  <td><%= link_to 'Edit', :action => 'edit', :id => @game %> | </td>
  <td><%= button_to 'Destroy', {:action => 'destroy', :id => @game, 
                                             :filter_type => 'User', :filter_id => current_user.id, :filter_name => current_user.login}, 
                              :confirm => 'Are you sure?', :method => :delete %></td>
  </tr></table>
<% end %>

